<!-- voter_analytics/templates/voter_analytics/voter_list.html -->

{% extends "voter_analytics/base.html" %}

{% block title %}Voter List{% endblock %}

{% block content %}
  <h2 class="page-title">Voter Records</h2>

  <!-- Filter Form -->
  <form method="get" action="{% url 'voter_analytics:home' %}" class="filter-form">
    <fieldset>
      <h2>Search Form</h2>
      <table>
        <tr>
          <th>Party Affiliation:</th>
          <td>
            <select name="party_affiliation">
              <option value="">All</option>
              <option value="D">D - Democratic</option>
              <option value="R">R - Republican</option>
              <option value="CC">CC - Constitution Party</option>
              <option value="L">L - Libertarian Party</option>
              <option value="T">T - Tea Party</option>
              <option value="O">O - Other</option>
              <option value="G">G - Green Party</option>
              <option value="J">J - Independent Party</option>
              <option value="Q">Q - Reform Party</option>
              <option value="FF">FF - Freedom Party</option>
            </select>
          </td>
        </tr>

        <tr>
            <th>Minimum Birth Year:</th>
            <td>
              <select name="min_year_of_birth">
                <option value="">Select Year</option>
                {% for year in year_range %}
                  <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
    

          <tr>
            <th>Maximum Birth Year:</th>
            <td>
              <select name="max_date_of_birth">
                <option value="">Select Year</option>
                {% for year in year_range %}
                  <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>

        <tr>
          <th>Voter Score:</th>
          <td>
            <select name="voter_score">
              <option value="">Select Score</option>
              {% for score in voter_score_range %}
                <option value="{{ score }}">{{ score }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>

        <tr>
          <th>Voted in 2020 State Election:</th>
          <td><input type="checkbox" name="v20state"></td>
        </tr>

        <tr>
          <th>Voted in 2021 Town Election:</th>
          <td><input type="checkbox" name="v21town"></td>
        </tr>

        <tr>
          <th>Voted in 2021 Primary Election:</th>
          <td><input type="checkbox" name="v21primary"></td>
        </tr>

        <tr>
          <th>Voted in 2022 General Election:</th>
          <td><input type="checkbox" name="v22general"></td>
        </tr>

        <tr>
          <th>Voted in 2023 Town Election:</th>
          <td><input type="checkbox" name="v23town"></td>
        </tr>

        <tr>
          <td colspan="2"><input type="submit" value="Filter" class="btn-filter"></td>
        </tr>
      </table>
    </fieldset>
  </form>

  <!-- Voter Table -->
  <table class="voter-table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Street Address</th>
        <th>Date of Birth</th>
        <th>Party Affiliation</th>
        <th>Voter Score</th>
      </tr>
    </thead>
    <tbody>
      {% for voter in voters %}
        <tr>
          <td><a href="{% url 'voter_analytics:voter' voter.pk %}" class="field-link">{{ voter.first_name }}</a></td>
          <td><a href="{% url 'voter_analytics:voter' voter.pk %}" class="field-link">{{ voter.last_name }}</a></td>
          <td><a href="{% url 'voter_analytics:voter' voter.pk %}" class="field-link">{{ voter.residential_addr_street_number }} {{ voter.residential_addr_street_name }}, {{voter.residential_addr_apartment_number}}, {{voter.residential_addr_zip_code}}</a></td>
          <td><a href="{% url 'voter_analytics:voter' voter.pk %}" class="field-link">{{ voter.date_of_birth }}</a></td>
          <td><a href="{% url 'voter_analytics:voter' voter.pk %}" class="field-link">{{ voter.party_affiliation }}</a></td>
          <td><a href="{% url 'voter_analytics:voter' voter.pk %}" class="field-link">{{ voter.voter_score }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Pagination -->
  <div class="pagination-container">
    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="pagination-item">
            <a href="?page={{ page_obj.previous_page_number }}" class="pagination-link">Previous</a>
          </li>
        {% endif %}
          <li class="pagination-item current-page">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </li>
        {% if page_obj.has_next %}
          <li class="pagination-item">
            <a href="?page={{ page_obj.next_page_number }}" class="pagination-link">Next</a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
{% endblock %}
